hr 
{
	color:sienna;
}

a:link {color: #bfbfff}
a:visited {color: #afafff}
a:hover 
{
	color: #3f3fef;
	background: #ffffff;
}

p
{
	font-family:"Verdana";
	font-size:large;
	//text-align:right;
	color:#C0C61B;
}

body 
{
	color:#C0C61B;
	background-color:#B16C0C;
}

th
{
	text-align:center;
	font-family:"Verdana";
	font-size:large;
}

th.Links
{
	text-align:center;
	font-family:"Verdana";
	font-size:large;
}

td.TDL
{
	text-align:left;
	font-family:"Verdana";
	font-size:normal;
}

td.TDC
{
	text-align:center;
}

td.TDR
{
	text-align:right;
	font-family:"Verdana";
	font-size:normal;
}


#tc-headerlogo { 
	font: 1.8em Impact;
    background: #C8352E; 
    margin-left: 2%;
    margin-right: 2%;
    padding:10px 10px 10px 10px; 
    text-align: center; 
	//color: #D8C0C5;
}

#tc-headerlogo img{ 
    max-width: 100%;
}


#tc-headertext { 
	font: 1.8em Impact;
    //background: #C8352E; 
    margin-left: 2%;
    margin-right: 2%;
    padding:10px 10px 10px 10px; 
    text-align: center; 
	//color: #D8C0C5;
}



#tc-bannertext { 
	font: 1.6em Impact;
    background: #C8352E; 
    margin-left: 2%;
    margin-right: 2%;
    padding:10px 10px 10px 10px; 
    text-align: center; 
	color: #D8C0C5;
}



#tc-songlist { 
	font: 1.4em Impact;
    margin-left: 2%;
    margin-right: 2%;
    padding:10px 10px 10px 10px; 
    text-align: center; 
	color: #D8C0C5;
}

#br-nextevent, #br-allevents { 
	font: 1.4em Impact;
    margin-left: 2%;
    margin-right: 2%;
    padding:10px 10px 10px 10px; 
    text-align: center; 
	color: #D8C0C5;
}

#tc-infofooter { 
	font: 1.0em Impact;
    background: #C8352E; 
    margin-left: 2%;
    margin-right: 2%;
    padding:10px 10px 10px 10px; 
    text-align: center; 
}

#tc-infofooter a, #tc-infofooter a:link { 
    text-decoration:none;
	color: #D8C0C5;
}
#tc-infofooter a:hover, #tc-infofooter a:focus { 
    background: #C8352E; 
	color: #F1CAAD;
}
